* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a2c2d0;
  font-family: 'Oxygen', sans-serif;
}

#page-wrapper {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(85, 110, 245);
  width: 100%;
}

.logo {
  width: 60vw;
  margin-left: 1rem;
}

.logo > img {
  width: 12rem;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  font-weight: 400;
}

nav > ul {
  width: 35vw;
  display: flex;
  justify-content: space-around;
  justify-self: end;
}

li {
  list-style: none;
}

a {
  color: #ffcc55;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #fff;
  transition: 0.5s;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 10rem auto;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type='email'] {
  max-width: 300px;
  width: 100%;
  padding: 5px;
  text-align: center;
}

#hero input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #ff8c00;
}

#hero input[type='submit']:hover {
  background-color: #ffa500;
  transition: background-color 1s;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

#features {
  margin-top: -8rem;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 15vw;
  color: rgb(85, 110, 245);
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

p {
  font-style: italic;
  color: #555;
  margin-top: 1rem;
}

.grid {
  display: flex;
}

#specifications {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#specifications > iframe {
  max-width: 600px;
  width: 100%;
}

#product {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

.product > .level {
  background-color: rgb(85, 110, 245);
  color: #fff;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > img {
  width: 8rem;
  margin: 20px auto;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #ff8c00;
  font-weight: 400;
}

.product > button:hover {
  background-color: #ffa500;
  transition: background-color 1s;
}

footer {
  margin: 5rem 0 -10rem;
  background-color: rgb(85, 110, 245);
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: rgb(220, 220, 220);
  font-style: italic;
}

@media (max-width: 750px) {
  header {
    flex-wrap: wrap;
  }

  .logo {
    margin-top: 15px;
    position: relative;
  }

  nav {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav > ul {
    flex-direction: column;
  }

  li {
    margin: 5px 0;
  }

  #specifications > iframe {
    width: 95%;
  }

  #product {
    flex-direction: column;
  }

  .product {
    margin: 10px;
  }

  footer {
    margin: 3rem 0 -10rem;
  }
}

@media (min-width: 300px) {
  .container {
    margin: 2rem auto;
  }

  #hero {
    margin-top: 12rem;
  }

  #hero input[type='email'] {
    max-width: 270px;
  }

  #features {
    margin-top: 0;
  }

  #features .icon {
    display: none;
  }

  #features .desc {
    margin: 1.5rem;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .product {
    width: 80%;
    margin: 10px auto;
  }

  .product > img {
    width: 70%;
  }
}
